PORT=4000

# 运行环境：development | production | test
# 非 production 时 TypeORM synchronize 自动开启（自动同步表结构）
NODE_ENV=development

# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=""
DB_NAME=fullstack_seed

# JWT 配置
JWT_SECRET=fullstack_seed_secret
JWT_EXPIRES_IN=7d

# 加密配置（bcrypt 加密强度）
BCRYPT_SALT_ROUNDS=10
